* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.bg-black {
  background: #1a2a6c;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

.port-item {
  width: 30%;
  height: 100%; }
  .port-item .fa {
    font-size: 2em; }

.port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

@media (max-width: 375px) {
  h1 .owner .display-5 {
    font-size: 1rem !important; }
  #main-header > div > div.col-lg-8.col-md-7.col-sm-12.tabs > div > div.p-5.bg-dark.text-white > div > h1 {
    font-size: 1.5rem !important;
    margin-right: 1em; } }

@media (max-width: 419px) {
  .port-item {
    width: 25%;
    height: 100%; }
    .port-item .fa {
      font-size: 1.7rem; } }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }
